$colors: (
    'common': (
        'white': #ffffff,
        'black': #000,
    ),
    'heading': (
        'primary': #0D1C37,
    ),
    'grey': (
        '1':#F1F1F1,
        '2':#F5F6F8,
        '3':#F4F6FD,
    ),
    'text': (
        'body':#6A6D7A,
        '1':#5B677D,
        '2': #0D1C37,
    ),
    'theme': (
        'primary': #2144D8,
        'secondary': #FFC700,
        '1': #F4F6FD,
    ),
    'border': (
        'primary': #000,
        'secondary': #000,
        '1': #e6ebf0,
    )
);

$white : #fff;
$theme-primary : #3D6CE7;
$border-primary : #000;