@use '../../utils' as *;
/*----------------------------------------*/
/*  3.3 Header Style 3
/*----------------------------------------*/

.tp-header-3{
    &-area{}
    &-top{
        padding-top: 6px;
        padding-bottom: 5px;
        background-color: var(--tp-theme-primary);
        &-info{
            & ul{
                & li{
                    list-style: none;
                    display: inline-block;
                    position: relative;
                    margin-left: 62px;
                    &:not(:last-of-type)::after {
                        content: "";
                        border-right: 1px solid #C9C9C9;
                        opacity: 0.21;
                        position: absolute;
                        height: 24px;
                        right: -35px;
                        top: 2px;
                      }
                    & a{
                        font-weight: 400;
                        font-size: 15px;
                        color: #CDD2E8;
                        & span{
                            color: var(--tp-common-white);
                            display: inline-block;
                            margin-right: 7px;
                            transform: translateY(2px);
                        }
                    }
                }
            }
            &-text{
                padding-left: 30px;
                & p{
                    font-weight: 500;
                    font-size: 15px;
                    margin: 0;
                    color: var(--tp-common-white);
                    & span{
                        font-weight: 600;
                        margin-left: 5px;
                        color: var(--tp-theme-secondary);
                        & i{
                            margin-left: 5px;
                        }
                    & a{
                        &:hover {
                            & i {
                                animation: tfLeftToRight 0.5s forwards;
                              }
                        }
                    }
                    }
                }
            }
        }
    }
    &-bottom {
        background: var(--tp-common-white);
        z-index: 10;
        @media #{$lg,$md,$sm,$xs} {
          background: var(--tp-common-white);
        }
      }
      &-color{
        &::before {
            position: absolute;
            top: 0;
            left: 29%;
            content: "";
            background: #E7EAF5;
            height: 100%;
            width: 50%;
            z-index: -1;
            clip-path: polygon(0 0, 94% 0, 100% 100%, 6% 100%);

             @media #{$xxl} {
                left: 25%;
                width: 65%;
             }
             @media #{$xl} {
                left: 24%;
                width: 56%;
             }
             @media #{$lg,$md,$sm,$xs} {
                display: none;
             }
            
          }
      }
        &-right {
        padding-left: 97px;
      }
}