@use '../../utils' as *;
/*----------------------------------------*/
/*  3.1 Header Style 1
/*----------------------------------------*/


.tp-header{
    &-area{}
    &-space{
        padding-left: 242px;
        padding-right: 242px;
        @media #{$xxxxxl} {
            padding-left: 200px;
            padding-right: 200px;
        }
        @media #{$xxxxl} {
            padding-left: 157px;
            padding-right: 157px;
        }
        @media #{$xxxl} {
            padding-left: 110px;
            padding-right: 100px;
        }
        @media #{$xxl} {
            padding-left: 60px;
            padding-right: 60px;
        }
        @media #{$xl} {
            padding-left: 30px;
            padding-right: 30px;
        }
        @media #{$lg,$md} {
            padding-left: 30px;
            padding-right: 30px;
        }
        @media #{$sm,$xs} {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    &-shape {
        & .shape-1 {
            position: absolute;
            right: 67px;
            left: auto;
            top: -15px;
            animation: soft-move-y 2s infinite linear;
            @media #{$xxxl} {
                right: 25px;
            }
          }
        & .shape-2 {
            position: absolute;
            right: 67px;
            left: auto;
            top: -15px;
            animation: soft-move-y 3s infinite linear;
            @media #{$xxxl} {
                right: 25px;
            }
          }
    }
    &-top{
        background-color: var(--tp-theme-1);
        padding-top: 15px;
        padding-bottom: 15px;
        &-info{
            & ul{
                & li{
                    list-style: none;
                    display: inline-block;
                    padding-right: 40px;
                    margin-left: 10px;
                    @media #{$lg} {
                        padding-right: 7px;
                        margin-left: 5px;
                    }
                    & a{
                        font-weight: 500;
                        font-size: 15px;
                        color: var(--tp-text-1);
                        & span{
                            color: var(--tp-theme-primary);
                            display: inline-block;
                            margin-right: 7px;
                            transform: translateY(2px);
                        }
                    }
                }
            }
        }
        &-social{
            & span{
                font-weight: 500;
                font-size: 15px;
                color: #909BAE;
            }
            & a{
                font-weight: 400;
                font-size: 15px;
                color: var(--tp-text-1);
                margin-left: 20px;
                transition: all .3s ease;
                &:hover{
                    color: var(--tp-theme-primary);
                }
            }
        }
    }
    &-logo{
        @media #{$lg,$md,$sm,$xs} {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    &-bottom{
        z-index: 5;
    }
    &-right{
        @media #{$lg,$md,$sm,$xs} {
            justify-content: end;
        }
    }
    &-market{
        @media #{$xxl} {
            margin-right: 20px;
        }
        & a{
            font-size: 28px;
            text-align: center;
            color: var(--tp-theme-primary);
            background: var(--tp-theme-1);
            height: 62px;
            width: 62px;
            line-height: 2.6;
            display: inline-block;
        }
        & span {
            position: absolute;
            font-weight: 500;
            font-size: 10px;
            color: var(--tp-text-2);
            background: var(--tp-theme-secondary);
            height: 19px;
            width: 19px;
            border-radius: 50%;
            display: inline-block;
            top: 10px;
            right: 10px;
            line-height: 19px;
          }
    }
    &-color{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        right: 25%;
        background-color: #fff;
        bottom: 0px;
        top: 0;
        z-index: -1;
        transform-origin: right center;
    }
}

.header__sticky{
    &.tp-header-sticky{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        box-shadow: 0px 4px 10px rgba(3, 4, 28, 0.1);
        animation: .95s ease 0s normal forwards 1 running headerSlideDown;
        z-index: 99;
        transition: .3s ease;
        & .tp-header-shape{
            & .shape-1{
                top: 10px;
            }
            & .shape-2{
                top: 10px;
            }
        }
    }
}
.tp-header-height{
    @media #{$xs,$sm,$md,$lg} {
        height: inherit !important;
    }
}

.tp-side{
    &-action {
        transform: translateY(-20%);
    }
    &-info {
        position: fixed;
        top: 0;
        right: 0;
        width: 400px;
        height: 100%;
        background: var(--tp-common-white);
        box-shadow: -15px 31px 55px rgba(0, 2, 11, 0.31);
        padding: 40px;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        overflow-y: scroll;
        overscroll-behavior-y: contain;
        scrollbar-width: none;
        transform: translateX(720px);
        @media #{$lg} {
            width: 400px;
            padding: 40px;
        }
        @media #{$md} {
            width: 445px;
            padding: 40px;
        }
        @media #{$xs} {
            width: 100%;
            padding: 40px;
        }

        &.tp-side-info-open {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }
    }

    &-logo {
        margin-bottom: 15px;
        position: relative;
        @media #{$sm} {
            margin-bottom: 30px;
        }
        & img{
            max-width: 160px;
        }
    }
    &-close {
            & button{
                & i{
                    position: absolute;
                    top: 50px;
                    right: 40px;
                    font-size: 30px;
                    color: #575757;
                    display: inline-block;
                    transition: 0.3s ease;

                }
            }

        & button {
            &:hover i {
                transform: rotate(90deg);
            }
        }
    }
}
.tp-sidebar{
    &__contact {
        &-icon {
            & a {

                & i{
                    color: var(--tp-body-2);
                    transition: all .3s ease-in-out;
                }
              }
              &:hover a{
                background-color: var(--tp-theme-primary);
                border-color: var(--tp-theme-primary);
                & i{
                  color: var(--tp-common-white);
                }
              }
        }
        &-text {
            & a {
                font-size: 18px;
                & i{
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border: 1px solid #dedede;
                    -webkit-border-radius: 7px;
                    -moz-border-radius: 7px;
                    border-radius: 0;
                    margin-bottom: 10px;
                    margin-top: 8px;
                    margin-right: 10px;
                    transition: all .3s ease-in-out;
                }
              }
            &:hover {
                & a{
                    color: var(--tp-theme-primary);
                    & i{
                        color: var(--tp-common-white);
                        background-color: var(--tp-theme-primary);
                        border-color: var(--tp-theme-primary);
                    }
                }
            }
        }
    }
    &-title {
        color: var(--tp-text-2);
        font-size: 22px;
        margin-bottom: 20px;
      }
    &-icons {
        margin-top: 30px;
        &  a{
            height: 48px;
            width: 48px;
            background-color: #EEF1FD;
            display: inline-block;
            text-align: center;
            line-height: 48px;
            color: var(--tp-text-2);
            font-size: 14px;
            font-weight: 400;
            transition: all 0.3s ease-in-out;
            margin-right: 15px;
            & i{
                transition: all 0.3s ease-in-out;
            }
            @media #{$xs} {
                margin-left: 5px;
                margin-right: 0;
            }
            &:hover{
                background-color: var(--tp-theme-primary);
                & i{
                    color: var(--tp-common-white);
                }
            }
        }
      }
}


.hamburger-btn{
    width: 34px;
    height: 24px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: 0;
    text-align: end;

	& span{
		display: inline-block;
		position: absolute;
		left: 0;
        background: var(--tp-theme-primary);
		height: 2px;
		width: 25px;
		opacity: 1;
		z-index: 1;
		border-radius: 10px;
        transition: .3s ease;
		&:nth-child(1){
			top: 0;
		}
		&:nth-child(2){
			top: 10px;
			width: 14px;
			left: 50%;
			@include transform(translateX(-50%));
		}
		&:nth-child(3){
			top: 20px;
			right: 0;
			left: auto;
		}
	}
	&:hover{
		& span{
			&:nth-child(1){
				left: 10px;
			}
			
			&:nth-child(3){
				right: 10px;
			}
		}
	}
    &-black{
		height: 15px;
		width: 30px;
		top: -4px;
		& span{
			background-color: var(--tp-common-black);

			&:nth-child(1){
				top: 0;
			}
			&:nth-child(2){
				top: 7px;
			}
			&:nth-child(3){
				top: 14px;
			}
		}

		&:hover{
			& span{
				background-color: var(--tp-theme-secondary);
			}
		}
	}
}

.offcanvas-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: var(--tp-common-black);
    z-index: 110;
    opacity: .7;
    top: 0;
    left: 0;
    transition: .8s;
    opacity: 0;
    visibility: hidden;
    &.offcanvas-overlay-open {
        opacity: .9;
        visibility: visible;
    }
}