@use '../utils' as *;

/*----------------------------------------*/
/*  2.15 Section Title
/*----------------------------------------*/

.tp-section{
    &__title{
        font-weight: 700;
        font-size: 42px;
        line-height: 1.2;
        text-transform: capitalize;
        position: relative;
        z-index: 0;
        @media #{$xl}{
            font-size: 45px;
        }

        @media #{$lg}{
            font-size: 35px;
        }

        @media #{$sm}{
            font-size: 45px;
        }

        @media #{$xs}{
            font-size: 30px;
        }
        &-pre{
            position: relative;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: var(--tp-common-white);
            background-color: var(--tp-theme-primary);
            padding: 9px 22px;
            display: inline-block;
            margin-bottom: 22px;
            &::before{
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                height: 100%;
                width: 10px;
                background: var(--tp-theme-secondary);
            }
        }
        &-pre-2{
            position: relative;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: var(--tp-text-2);
            background: linear-gradient(90deg, #FFC700 0%, rgba(255, 255, 255, 0) 100%);
            padding: 9px 22px;
            display: inline-block;
            margin-bottom: 22px;
            &::before{
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                height: 100%;
                width: 10px;
                background: var(--tp-theme-primary);
            }
        }
    }
}

.tp-inner{
    &-pre {
        & span {
            position: relative;
            font-size: 30px;
            height: 60px;
            width: 60px;
            background: var(--tp-common-white);
            box-shadow: 0px 7px 14px rgba(33, 68, 216, 0.13);
            color: var(--tp-theme-primary);
            border-radius: 50%;
            display: inline-block;
            line-height: 64px;
            text-align: center;
            margin-bottom: 25px;
            &::before {
                position: absolute;
                content: "";
                border: 2px dashed var(--tp-theme-primary);
                opacity: 0.3;
                height: 74px;
                width: 74px;
                border-radius: 50%;
                top: -7px;
                left: -7px;
                animation: tprotate 5s ease-in-out 3s forwards infinite alternate;
              }
          }
    }
}