@use '../../utils' as *;

/*----------------------------------------*/
/*  7.7 About css
/*----------------------------------------*/

.tp-counter{
    &-area{}
    &-shape {
    & .shape-1 {
        position: absolute;
        top: 0;
        left: -15px;
        @media #{$xs} {
            display: none;
        }
        }
    & .shape-2 {
        position: absolute;
        bottom: -80%;
        right: 0px;
        }
    }
    &-overlay{
        background: #0D1C37;
    }
    &-wrapper{
        border: 1px dashed rgba($color: #ffff, $alpha: 0.25);
        padding: 25px 20px 15px 34px;
        position: relative;
        justify-content: space-between;
        z-index: 1;
        transition:all .3s ease-in-out;
        @media #{$xl} {
            padding: 20px 15px 15px 20px;
        }
        @media #{$lg} {
            padding: 20px 20px 15px 18px;
        }
        @media #{$sm} {
            padding: 25px 20px 15px 20px;
        }
        &::after {
            position: absolute;
            content: "";
            width: 40%;
            height: 102%;
            left: -2px;
            top: -1px;
            background: linear-gradient(90deg, #2144D8 0%, rgba(13, 28, 55, 0) 100%);
            transition:all .3s ease-in;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
          }
          &:hover{
            &::after{
                width: 100%;
                visibility: visible;
                opacity: 1;
            }
            & .tp-counter-content{
                & h4{
                    color: var(--tp-common-white);
                }
            }
          }
    }
    &-content{
        & p{
            font-weight: 600;
            font-size: 21px;
            line-height: 29px;
            color: var(--tp-common-white);
        }
    }
    &-title{
        font-weight: 600;
        font-size: 48px;
        color: var(--tp-theme-secondary);
        transition: all .3s ease-in-out;
        margin-bottom: 0;
    }
    &-thumb{
        &  i {
            font-size: 58px;
            background-image: linear-gradient(180deg, #FFF 0%, rgba(13, 28, 55, 0) 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            display: inline-block;
            margin-left: 15px;
          }
    }
}

.tp-counter-2{
    &-area{}
    &-wrapper{
        background: var(--tp-theme-primary);
        padding: 57px 110px 8px;
        @media #{$lg} {
            padding: 57px 55px 8px;
        }
        @media #{$md} {
            padding: 57px 72px 8px;
        }
        @media #{$sm} {
            padding: 57px 60px 8px;
        }
        @media #{$xs} {
            padding: 57px 20px 8px;
        }
        & .tp-counter-thumb{
            & i{
                background-color: var(--tp-common-white);
                margin-bottom: 15px;
                margin-left: 0;
            }
        }
        & .shape-1 {
            position: absolute;
            top: 0;
            left: 9%;
        }
        & .shape-2 {
            position: absolute;
            bottom: 0;
            left: 37%;
        }
        & .shape-3{
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    &-inner{
        @media #{$xs2} {
            display: grid;
            justify-content: center;
        }
        
        &-1{
            padding-left: 12px;
            @media #{$md,$xs} {
                padding-left: 0;
            }
            @media #{$xs2} {
                padding-left: 0px;
                display: grid;
                justify-content: center;
            }
        }
        &-2{
            display: grid;
            justify-content: center;
            @media #{$md} {
                justify-content: start;
            }
            @media #{$xs} {
                justify-content: start;
            }
            @media #{$xs2} {
                display: grid;
                justify-content: center;
            }
        }
        &-3{
            display: grid;
            justify-content: end;
           @media #{$md} {
            justify-content: start;
           }
           @media #{$xs} {
            justify-content: start;
           }
           @media #{$xs2} {
            display: grid;
            justify-content: center;
        }
        }
    }
    &-shape-2 {
        position: absolute;
        top: 40%;
        left: -80px;
        @media #{$sm} {
            left: -35px;
        }
        @media #{$xs} {
            display: none;
        }
        @media #{$xs2} {
            display: flex;
            justify-content: center;
        }
      }
    &-shape-3 {
        position: absolute;
        top: 40%;
        left: -50px;
      }
    &-shape-4 {
        position: absolute;
        top: 40%;
        left: -22px;
        @media #{$md} {
            left: -80px;
        }
        @media #{$sm} {
            left: -35px;
        }
        @media #{$xs} {
            display: none;
        }
      }
}


.tp-counter-3{
    &-area {
        margin-top: -110px;
      }
}