@use '../../utils' as *; 

/*----------------------------------------*/
/*  7.9 features css
/*----------------------------------------*/

.tp-features{
    &-area{
        @media #{$xl} {
            padding-bottom: 60px;
        }
        @media #{$lg,$md,$sm,$xs} {
            padding-bottom: 50px;
        }
    }
    &-item{
        &-shape {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
          }
        &-wrapper{
            position: relative;
            padding: 30px;
            background: linear-gradient(180deg, #FFF 0%, #F4F6FD 100%);
            &:hover .tp-features-item-thumb::before {
                animation: shine 800ms;
              }
            @media #{$xs} {
                padding: 24px;
            }
            & .feature-btn{
                position: absolute;
                bottom: 0;
                width: 50px;
                height: 50px;
                background: var(--tp-theme-primary);
                color: var(--tp-common-white);
                left: 50%;
                transform: translate(-50%, 50%);
            }
        }
        &-wrapper-2{
            padding: 41px 48px 50px 48px;
            background: var(--tp-theme-primary);
            z-index: 1;
            overflow: hidden;
            @media #{$xs} {
                padding: 39px 30px 52px 30px;
            }
            @media #{$sm,$xs} {
                margin-top: 20px;
            }
            & .tp-features-item-title{
                font-weight: 700;
                font-size: 30px;
                line-height: 1.3;
                text-align: center;
                text-transform: capitalize;
                color: var(--tp-common-white);
            }
            & p{
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                text-align: center;
                color: #C7CFF0;
                margin-bottom: 34px;
            }
            & input{
                background: var(--tp-common-white);
                width: 100%;
                height: 52px;
                outline: 0;
                padding: 0 25px;
                margin-bottom: 15px;
                &::placeholder{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    align-items: center;
                    color: var(--tp-text-body);
                }
                &:focus{
                    &::placeholder{
                        opacity: 0;
                    }
                }
            }
            & .item-shape{
                & .shape-1{
                    position: absolute;
                    top: 0;
                    left: 70px;
                    z-index: -1;
                    opacity: 0.15;
                    @media #{$xl} {
                        left: 42px;
                    }
                    @media #{$lg} {
                        left: 95px;
                    }
                    @media #{$md} {
                        left: 38px;
                    }
                    @media #{$sm} {
                        left: 130px;
                    }
                    @media #{$xs} {
                        left: 10px;
                    }
                }
                & .shape-2{
                    position: absolute;
                    bottom: -72px;
                    left: -6px;
                    z-index: -1;
                    opacity: 0.15;
                }
            }
            &.tp-footer-2-margin {
                padding: 63px 48px 60px 48px;
            }
        }
        &-thumb{
            overflow: hidden;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: -75%;
                z-index: 2;
                display: block;
                width: 50%;
                height: 100%;
                background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
                transform: skewX(-25deg);
            }
            & img{
                max-width: 100%;
                -webkit-transition: all 0.3s ease-out 0s;
                -moz-transition: all 0.3s ease-out 0s;
                -ms-transition: all 0.3s ease-out 0s;
                -o-transition: all 0.3s ease-out 0s;
                transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
                height: 100%;
                object-fit: cover;
                @media #{$sm,$xs} {
                    min-width: 100%;
                }
                &:hover {
                    transform: scale(1.1);
                  }
            }
        }
        &-content{
            padding-top: 32px;
            padding-bottom: 20px;
            
            & p{
                font-weight: 400;
                font-size: 16px;
                line-height: 29px;
                text-align: center;
            }
        }
        &-title{
            font-weight: 700;
            font-size: 29px;
            text-transform: capitalize;
            color: var(--tp-text-2);
            text-align: center;
            margin-bottom: 15px;
            transition: all .3s ease;
            @media #{$xl} {
                font-size: 28px;
            }
            @media #{$xs} {
                font-size: 23px;
            }
            & a:hover{
                color: var(--tp-theme-primary);
            }
        }
    }
    &-btn{
        & .tp-btn-2{
            & span{
                font-weight: 400;
                font-size: 16px;
                padding: 12px 21px;
            }
            & i{
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
}

.tp-features-btn{
	& .tp-feature-btn-text{
		position: relative;
		display: inline-block;
		font-weight: 500;
		font-size: 15px;
		color: var(--tp-text-2);
		background: var(--tp-theme-secondary);
		text-align: center;
		padding: 18px 36px;
		z-index: 1;
		overflow: hidden;
		margin-right: -2px;
		transition: all .3s ease-in-out;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: -50px;
			bottom: 0;
			left: 0;
			border-right: 50px solid transparent;
			border-bottom: 80px solid var(--tp-text-2);
			transform: translateX(-100%);
			transition: all .3s ease-in-out;
			z-index: -1;
		}
	}
	& .tp-feature-btn-icon{
		display: inline-block;
		font-weight: 500;
		font-size: 14px;
		color: var(--tp-text-2);
		background: var(--tp-theme-secondary);
        padding: 18px 24px;
		overflow: hidden;
	}
    & .tp-btn-2{
        &:hover {
			& .tp-feature-btn-text,
            & .tp-feature-btn-icon{
                color: #fff;
                &::before {
                    transform: translateX(0);
                }
            }
		}
    }

	& i,
	& svg{
		margin-right: 0px;
	}

	& svg{
		@include transform(translateY(-2px));
	}

	&:focus{
		color: var(--tp-common-white);
	}
}