@use '../../utils' as *;

/*----------------------------------------*/
/* 8.6 team css
/*----------------------------------------*/

.tp-team{
    &-area{
        &::before{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 80%;
            background: linear-gradient(0deg, rgba(173, 182, 221, 0) 0%, #2144D8 100%);
            opacity: 0.6;
            z-index: -1;
        }
    }
    &-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 20%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -2;
    }
    &-section-title-wrapper{
        & .tp-section__title{
            color: var(--tp-common-white);
        }
    }
    &-wrapper{
        margin-bottom: 30px;
        @media #{$sm,$xs} {
            margin-bottom: 50px;
        }
    }
    &-thumb{
        & img{
            max-width: 100%;
            transition: all 0.2s ease-out 0s;
            @media #{$md,$xs} {
                min-width: 100%;
            }
            &:hover{
                transform: translate3d(0px, 0, 0px) scale3d(0.955, 0.975, 1) skew(0deg);
            }
        }
    }
    &-social{
        position: absolute;
        top: 20px;
        right: 30px;
        & ul {
            & li {
                list-style: none;
                margin-bottom: 10px;
                & a {
                    height: 48px;
                    width: 48px;
                    background-color: #EEF1FD;
                    border-radius: 50%;
                    display: inline-block;
                    text-align: center;
                    line-height: 48px;
                    color: #0D1C37;
                    font-size: 14px;
                    font-weight: 400;
                    transition: all .3s ease-in-out;
                    &:hover{
                        background-color: var(--tp-theme-secondary);
                    }
                }
            }
        }
    }
    &-content{
        & p{
            color: var(--tp-theme-primary);
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
        }
    }
    &-title{
        font-weight: 600;
        font-size: 24px;
        transition: all .3s ease-in;
        & a{
            background-image: linear-gradient(#ffffff, #d8d8da), linear-gradient(#ffffff, #dbdbe6);
            background-size: 0% 1px, 0 1px;
            background-position: 100% 100%, 0 100%;
            background-repeat: no-repeat;
            transition: 0.3s ease;
            &:hover {
                background-size: 0 2px, 100% 1px;
              }
        }
        &-1{
            font-weight: 600;
            font-size: 24px;
            transition: all .3s ease-in;
        & a{
            background-image: linear-gradient(#0d1c37, #0d1c37), linear-gradient(#0d1c37, #0d1c37);
            background-size: 0% 1px, 0 1px;
            background-position: 100% 100%, 0 100%;
            background-repeat: no-repeat;
            transition: 0.3s ease;
            &:hover {
                background-size: 0 2px, 100% 1px;
              }
        }
        }
    }
}

.tp-team-2{
    &-area{
        overflow: hidden;
    }
    &-bg{
        background: #F4F6FD;
        z-index: 0;
        overflow: hidden;
    }
    &-shape{
        & .shape-1 {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
        & .shape-2 {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 0;
        }
        & .shape-3 {
            position: absolute;
            top: 5%;
            right: 20%;
        }
        & .shape-4 {
            position: absolute;
            top: 90px;
            left: 26%;
        }
        & .shape-5 {
            position: absolute;
            bottom: 0;
            left: 30%;
        }
        & .shape-6 {
            position: absolute;
            right: 190px;
            top: -20px;
        }
    }
    &-wrapper{
        @media #{$md,$sm,$xs} {
            margin-bottom: 50px;
        }
        & .tp-section__title{
            text-transform: uppercase;
            line-height: 1.3;
            margin-bottom: 18px;
        }
        & p{
            line-height: 32px;
            margin-bottom: 20px;
            & br{
                @media #{$lg,$md,$sm,$xs} {
                    display: none;
                }
            }
        }
    }
    &-btn{
        & .tp-btn{
            padding: 18px 31px;
            & i{
                margin-left: 15px;
            }
        }
    }
    &-thumb{
        position: relative;
        & img{
            max-width: 100%;
            height: 260px;
            width: 375px;
            object-fit: cover;
            @media #{$sm,$xs2} {
                min-width: 100%;
            }
            @media #{$xs2,$sm} {
                height: auto;
                width: auto;
            }
        }
        &::after{
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            left: 0px;
            bottom: 0px;
            background: linear-gradient(180deg, rgba(33, 68, 216, 0) 0%, #2144D8 100%);
            transition: all 0.3s ease-in-out;
            z-index: 1;
            visibility: hidden;
            opacity: 0;
        }
        &:hover{
            & .tp-team-2-inner{
                & .tp-team-title{
                    transition-delay: .3s;
                    opacity: 1;
                    bottom: 0px;
                }
                & span{
                    transition-delay: .4s;
                    opacity: 1;
                    bottom: 0;
                }
            }
            & .tp-team-2-social .tp-e-networks-link{
                opacity: 1;
                transform: translateY(0);
            }
            & .tp-team-2-social {
                & .tp-e-networks-link{
                    &:nth-child(1){
                        transition-delay: 0s;
                    }
                    &:nth-child(2){
                        transition-delay: .1s;
                    }
                    &:nth-child(3){
                        transition-delay: .2s;
                    }
                }
            }
            &::after{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &-inner{
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        bottom: 18px;

        & .tp-team-title{
            position: relative;
            z-index: 2;
            font-weight: 600;
            font-size: 24px;
            color: var(--tp-common-white);
            margin-bottom: 3px;
            opacity: 0;
            bottom: -20px;
            background-image: linear-gradient(#fcfcff, #d8d8da), linear-gradient(#000, #dbdbe6);
            background-size: 0% 1px, 0 1px;
            background-position: 100% 100%, 0 100%;
            background-repeat: no-repeat;
            transition: .4s ease-in-out;
         
        }
        & span{
            font-weight: 600;
            font-size: 12px;            
            text-transform: uppercase;
            letter-spacing: 0.12em;
            color: var(--tp-theme-secondary);
            z-index: 2;
            position: relative;
            opacity: 0;
            bottom: -26px;
            transition: .5s ease-in-out;
        }
    }
    &-social{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 100px;
            z-index: 2;
        @media #{$xl,$lg} {
            margin-bottom: 10px;
        }
        & a{
            height: 48px;
            width: 48px;
            background-color: #EEF1FD;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            line-height: 48px;
            color: #0D1C37;
            font-size: 14px;
            font-weight: 400;
            transition: all 0.3s ease-in-out;
            margin-left: 10px;
            flex: 0 0 auto;
            @media #{$xs} {
                margin-left: 10px;
            }
            &:hover{
                color: var(--tp-text-2);
                background-color: var(--tp-theme-secondary);
            }
        }
        & .tp-e-networks-link {
            opacity: 0;
            transform: translateY(10px);
            transition: .6s cubic-bezier(.25,.46,.45,.94);
          }
    }
}


.tp-team-3{
    &-area{
        overflow: hidden;
    }
    &-wrapper{
        @media #{$md,$sm,$xs} {
            padding-bottom: 30px;
        }
        & .tp-section__title{
            text-transform: uppercase;
            & br{
                @media #{$xs3} {
                    display: none;
                }
            }
        }
    }
}

.tp-team-2-btn{
    &.team-3{
        @media #{$md,$sm,$xs} {
            margin-bottom: 30px;
        }
    }
}

.tp-team-details{
    &-area{}
    &-social{
        & a{
            height: 48px;
            width: 48px;
            background-color: #D1D6E9;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            line-height: 48px;
            color: #0D1C37;
            font-size: 14px;
            font-weight: 400;
            margin-right: 15px;
            transition: all 0.3s ease-in-out;
            &:hover{
                background: var(--tp-theme-secondary)
            }
        }
    }
    &-information{
        position: relative;
        background: #F4F6FD;
        padding: 70px 45px 65px 70px;
        @media #{$lg} {
            padding: 60px 30px 60px 60px;
        }
        @media #{$md} {
            padding: 50px;
        }
        @media #{$sm} {
            padding: 30px;
        }
        @media #{$xs} {
            padding: 20px;
        }
    }
    &-shape{
        & .shape-4{
            position: absolute;
            top: 5px;
            left: 20px;
        }
        & .shape-5{
            position: absolute;
            bottom: 10px;
            left: 270px;
        }
        & .shape-6{
            position: absolute;
            top: 50px;
            right: 60px;
        }
    }
    &-inner {
        margin-left: 15px;
        @media #{$md,$sm,$xs} {
            margin-left: 0;
        }
      }
    &-thumb {
        @media #{$md,$sm,$xs} {
            margin-bottom: 40px;
        }
        & img {
            min-width: 100%;
            position: relative;
            @media #{$lg,$xs} {
                max-width: 100%;
            }
         }
        & .shape {
            position: absolute;
            right: 0;
            bottom: 0;
          }
    }
    &-content{
        & .tp-team-details-title{
            font-weight: 700;
            font-size: 42px;
            margin-bottom: 10px;
            @media #{$xs3} {
                font-size: 28px;
            }
        }
        & span{
            font-weight: 600;
            color: var(--tp-theme-primary);
            display: block;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            margin-bottom: 28px;
        }
        & p{
            font-weight: 400;
            font-size: 17px;
            line-height: 30px;
            color: #6A6D7A;
        }
    }
    &-title{
        & h4{
            font-weight: 700;
            font-size: 28px;
            line-height: 30px;
            margin-bottom: 15px;
        }
        & p{
            font-weight: 400;
            font-size: 17px;
            line-height: 30px;
            color: #6A6D7A;
            margin-bottom: 20px;
        }
    }
    &-progress-bar{
        position: relative;
        @media #{$lg,$md,$sm,$xs} {
            margin-bottom: 40px;
        }
        & h4{
            font-weight: 600;
            font-size: 17px;
            color: var(--tp-theme-primary);
            margin-bottom: 15px;
        }
        & .progress {
            overflow: inherit;
            height: 8px;
            margin-bottom: 17px;
            border-radius: 0;
            &-bar {
                position: relative;
                overflow: inherit;
                background-color: var(--tp-theme-primary);
                & span {
                    text-align: right;
                    transform: translateY(-20px);
                    color: #6A6D7A;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 15px;
                }
            }
        }
    }
    &-btn{
        & .tp-btn{
            padding: 18px 30px;
            & i{
                margin-left: 10px;
                transform: translateY(2px);
            }
        }
    }
}



