@forward './slider';
@forward './about';
@forward './hero';
@forward './brands';
@forward './features';
@forward './service';
@forward './team';
@forward './portfolio';
@forward './counter';
@forward './testimonial';
@forward './blog';
@forward './price';
@forward './project';
@forward './shop';
@forward './cart';
@forward './error';
@forward './contact';